header {
  display: flex;
  justify-content: space-evenly;
}

figcaption {
  color: white;
  grid-row: 1;
  grid-column: 1;

  justify-self: end;
  align-self: end;

  text-align: center;
}

/************************/
/**** navigation bar ****/
/************************/

.nav-container {
  display: flex;
  place-items: center;
  justify-content: space-between;
  width: 100%;
}
nav {
  width: 30%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* .nav-container {
  display: flex;
  place-items: center;
  justify-content: space-evenly;
} */

/************************/
/***** Gallery Grid *****/
/************************/
.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

figure {
  display: grid;
  height: 100%;
}
/* 
.img-tall {
  grid-row: span 2;
  height: 100%;
} */

.img-wide {
  display: grid;
  text-align: start;
  height: 100%;

  grid-column: 1 / 3;
}

.item {
  object-fit: cover;
  width: 100%;
  height: 600px;
  object-position: left;
  grid-row: span 3;
  grid-column: span 2;
}

.deer {
  display: grid;
  text-align: left;
  grid-column: 1 / 4;
}

.item-2 {
  height: 100%;
  display: grid;
  grid-column: span 3;
  object-fit: contain;
}
