/************************/
/**** Main Content ******/
/************************/

header {
  display: flex;
  margin: 2rem;
  padding: 10px;
  color: #9276a6;
  font-size: 20px;
  font-family: "Alfa Slab One", cursive;

  font-family: "Rowdies", cursive;
}

footer {
  display: grid;
  text-align: center;
  color: #9276a6;
  font-weight: 900;
  font-size: 20px;
  padding: 25px;
}

header h1 {
  letter-spacing: 0.5rem;
  animation-duration: 1s;
  animation-name: slidein;
}

figcaption {
  grid-row: 1;
  grid-column: 1;
  color: #85b4ae;
  justify-self: end;
  align-self: end;
  text-align: end;
  font-size: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  margin: 0 8px 4px 0;
}

/************************/
/**** navigation bar ****/
/************************/
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav {
  background-color: #9276a6;
  border: 1px black solid;
  opacity: 0.7;
  width: 50%;
  padding: 20px;
  border-radius: 7px;
  margin-right: 20px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

li a {
  color: #85b4ae;
  letter-spacing: 2px;
  font-size: 24px;
}

/************************/
/***** Gallery Grid *****/
/************************/
.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.img-tall {
  grid-row: span 1;
  object-fit: cover;
  width: 100%;
  height: 600px;
  height: 100%;
}

.img-wide {
  width: 100%;
  grid-column: 1 / -2;
}

.item {
  object-fit: cover;
  width: 100%;
  height: 600px;
}

/**** Icons ****/
.fa-home {
  display: grid;
  align-content: center;
  color: black;
  padding-right: 10px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*** Hover Effects ***/
.img-tall:hover {
  transform: scale(1.05);
}

.img-wide:hover {
  transform: scale(1.05);
}

/*** Key Frame ***/
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li a:hover {
  color: black;
}
