header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 15px;
  text-align: center;
  color: #9276a6;
  font-size: 30px;
}

footer {
  display: grid;
  text-align: center;
  color: #9276a6;
  font-weight: 900;
  font-size: 20px;
  padding: 25px;
}
/* img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: 2;
  grid-column: 1;
} */

.img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: 2;
  grid-column: 1;
}

/************************/
/**** navigation bar ****/
/************************/
.nav-container {
  display: flex;
  place-items: center;
  justify-content: space-between;
  width: 100%;
}
nav {
  background-color: #9276a6;
  color: white;
  width: 40%;
  padding: 35px;
  border-radius: 7px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

li a {
  color: #85b4ae;
}

figcaption {
  grid-row: 1;
  grid-column: 1;
  color: #85b4ae;
  justify-self: end;
  align-self: end;

  text-align: end;
  font-size: 24px;
  font-weight: 800;
  margin: 0 8px 4px 0;
}

.align-header {
  display: grid;
  justify-content: start;
  align-items: start;
}

/* changed a bit of the nav bar */

/* .nav-container {
  display: flex;
  place-items: center;
  justify-content: space-evenly;
} */

/************************/
/***** Gallery Grid *****/
/************************/
.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.img-tall {
  grid-row: span 2;
  height: 100%;
}

.img-wide {
  width: 100%;
  grid-column: 1 / -1;
}

.item {
  object-fit: cover;
  width: 100%;
  height: 600px;
  object-position: left;
}

/**

figcaption {
  color: white;
  grid-row: 1;
  grid-column: 1;

  justify-self: end;
  align-self: end;

  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/************************/
/**** navigation bar ****/
/************************/

/************************/
/***** Gallery Grid *****/
/************************/
